<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>ARION</title>
 <link rel="stylesheet" type="text/css" href="/css/smarteditor2.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/SmartEditor2.js"></script>
</head>
<body>
	<h1>기안서</h1>
	<div>
		<button type="button" th:onclick="|location.href='@{/group/doc/insertTemp}'|" class="btn btn-primary">등록</button>
	</div>
	<th:block th:each="temp, iterStat : ${tempList}">
		<div>
            <label>문서종류</label>
            <p th:text="${temp.docType}"></p>
            <label>파일 이름</label>
            <p th:text="${temp.docFile}"></p>
            <label>파일 내용 미리보기</label>
            <img th:src="@{/files/templates/(fileName)=${temp.docImg}}"/>           	
		</div>
	</th:block>
</body>
</html>
