@charset "UTF-8";

.styled-button {
    padding: 5px 10px; /* 내부 여백 */
    font-size: 16px; /* 글꼴 크기 */
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 글자색 */
    border: 1px solid black;
    border-radius: 4px; /* 모서리를 둥글게 */
    cursor: pointer; /* 커서 모양 */
    transition: background-color 0.3s ease; /* 부드러운 색상 전환 */
}

#vacationtable {
    width: 50%;
    background-color: white; /* 테이블 배경색 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 테이블 그림자 */
    border: 1px solid black;
   
}

#vacationtable th {
    background-color: #007bff; /* 헤더 배경색 */
    color: white; /* 헤더 글자색 */
    text-transform: uppercase; /* 헤더 텍스트 대문자 */
}

.divvacation{
	border: 1px solid black;
	
	
}