<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arion.app.home.pay.mapper.PayMapper">
	
	<select id="findLastNo" resultType="int">
		SELECT MAX(contract_no)+1
		FROM contract
	</select>
<!-- 	<select id="insertContract" statementType="CALLABLE" parameterType="ContractVO">
		 CALL contract_procedure(
		 						  #{companyCode, mode=IN, jdbcType=VARCHAR}
		 						 ,#{contractNo, mode=IN, jdbcType=INTEGER}
		 						 ,#{finalDate, mode=IN, jdbcType=DATE}
		 						 ,#{usersCnt, mode=IN, jdbcType=INTEGER}
		 						 ,#{monthPayPrice, mode=IN, jdbcType=INTEGER}
		 						 ,#{totalPayPrice, mode=IN, jdbcType=INTEGER}
		 						 ,#{regularDate, mode=IN, jdbcType=INTEGER}
		 						 ,#{contractSign, mode=IN, jdbcType=VARCHAR}
		 						 ,#{customerkey, mode=IN, jdbcType=VARCHAR}
		 						 ,#{firstMonthAmount, mode=IN, jdbcType=INTEGER}
		 						 ,#{checks, mode=OUT, jdbcType=INTEGER})
	</select> -->
	<insert id="insertContract" parameterType="ContractVO">
		 INSERT INTO contract(
                              contract_no
                             ,final_date
                             ,users_cnt
                             ,month_pay_price
                             ,total_pay_price
                             ,regular_date
                             ,contract_state
                             ,company_code
                             ,contract_sign
                             ,billingkey
                             ,customerkey
                             ,first_month_amount
                             ,ceo_name
                             ,ceo_email)
        VALUES(
               #{contractNo}
              ,#{finalDates}
              ,#{usersCnt}
              ,#{monthPayPrice}
              ,#{totalPayPrice}
              ,#{regularDate}
              ,'계약중'
              ,#{companyCode}
              ,#{contractSign}
              ,#{billingkey}
              ,#{customerkey}
              ,#{firstMonthAmount}
              ,#{ceoName}
              ,#{ceoEmail}
              )
	</insert>
	<insert id="insertSubModule" parameterType="ContractVO">
		INSERT INTO usemodule(
                         sub_module_no
                        ,module_no
                        ,module_price
                        ,module_name
                        ,company_code
                        ,contract_no
                       )
		VALUES(
		        (SELECT MAX(sub_module_no)+1
		         FROM usemodule)
		       ,(SELECT module_no
		         FROM module
		         WHERE module_name = #{moduleName}
		         )
		       ,(SELECT module_price
		         FROM module
		         WHERE module_name = #{moduleName}
		         )
		       ,#{moduleName}
		       ,#{companyCode}
		       ,#{contractNo}
		       )
	</insert>
	<select id="selectComInfo" resultType="CompanyVO">
		SELECT company_code
		      ,company_name
		      ,company_tel
		      ,company_id
		      ,company_business_number
		      ,company_type
		      ,company_address
		      ,company_post
		      ,ceo_name
		      ,ceo_email
		      ,ceo_phone
		      ,site_resp
		FROM company 
		WHERE company_code = #{companyCode}
	</select>
	<insert id="insertPay" parameterType="ContractVO">
		<selectKey keyProperty="payNo"
				   resultType="Integer"
				   order="BEFORE">
			SELECT  NVL(MAX(pay_no), 0) + 1
	         FROM pay
		</selectKey>
		INSERT INTO pay (
                  pay_no
                 ,users_cnt
                 ,company_code
                 ,contract_no
                 ,order_id
                 ,pay_price
                )
		VAlUES(
		         #{payNo}
		        ,#{usersCnt}
		        ,#{companyCode}
		        ,#{contractNo}
		        ,#{orderId}
		        ,#{monthPayPrice}		        
		          )
	</insert>
	
	<insert id="insertPayDetail" parameterType="ContractVO">
	INSERT INTO pay_detail (
                         pay_detail_no
                        ,pay_no
                        ,module_no
                        ,module_price
                        ,module_name
	                        )
	VALUES(
	        (SELECT NVL(MAX(pay_detail_no),0) +1
	         FROM pay_detail)
	        ,#{payNo}
	        ,(SELECT module_no
		         FROM module
		         WHERE module_name = #{moduleName}
		         )
	        ,(SELECT module_price
		         FROM module
		         WHERE module_name = #{moduleName}
		         )
	        ,#{moduleName}  
	        )
	</insert>
	<update id="updateComResp" parameterType="ContractVO">
		UPDATE company
		SET site_resp = 'USER'
		WHERE company_code = #{companyCode}
	</update>
</mapper>