<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/group/attendance/myworktime.css}">
<title>myworktime</title>
<input type="hidden" id="employeeno"  th:value="${session.employeeNo}">
</head>

<body onload="autoReload();">

	
	<div class="action-bar" colspan="4" align="center">
	
	<button class="month" id="before"></button>
			
	<h2 id="yearmonth" ></h2>
			
	<button class="month" id="next"></button>
			
	<div align="center">
    <button class="month" id="today" >오늘</button>
	</div>
	
    </div>	
			<div colspan="4" align="right">
			<button id="download" class="styled-button">다운로드</button>
			<a class="styled-button" href="/group/attendance/worktimelist">부하직원 근무시간기록</a>
	</div>
						
		<table align="center" id="worktimetable" width="80%"  height ="30%">
		<tr>
		    <th width="10%">일자</th>
			<th width="14%">근무시간(시간)</th>
			<th width="14%">근무시간(분)</th>
			<th width="17%">표준근무시간(시간)</th>
			<th width="17%">표준근무시간(분)</th>
			<th width="11%">차이(시간)</th>
			<th width="11%">차이(분)</th>
		</tr>
		
	</table>
			
	<script th:src="@{/js/group/attendance/worktime.js}"></script>
</body>
</html >