<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">

<title>underlingworktime</title>
</head>
<input type="hidden" id="employeeno"  th:value="${employeeNo}")>
<h2 th:text="${underlingName}+'의 근무시간'"></h2>

<body onload="autoReload();">

	
	<div colspan="4" align="center" display="inline">
	
	<button id="before"></button>
			
	<h2 id="yearmonth" ></h2>
			
	<button id="next"></button>
			
	<button id="today">오늘</button>
	
    </div>	
			<div colspan="4" align="right">
			<button id="download">다운로드</button>
			<a href="/group/attendance/worktimelist">되돌아가기</a>
	</div>
						
		<table align="center" id="worktimetable" width="80%"  height ="30%">
		<tr>
		    <th width="10%">일자</th>
			<th width="14%">근무시간(시간)</th>
			<th width="14%">근무시간(분)</th>
			<th width="17%">표준근무시간(시간)</th>
			<th width="17%">표준근무시간(분)</th>
			<th width="11%">차이(시간)</th>
			<th width="11%">차이(분)</th>
		</tr>
		
	</table>
			
	<script th:src="@{/js/group/attendance/worktime.js}"></script>
</body>


</html>