<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/group/attendance/myattendance.css}">
<title>underlingattendance</title>
</head>
<input type="hidden" id="employeeno"  th:value="${employeeNo}")>
<h2 th:text="${underlingName}+'의 근무 기록'"></h2>

<body onload="autoReload();">

	
	
			<div class="action-bar" colspan="4" align="center" display="inline">
	
	<button class="month" id="before"></button>
			
	<h2 id="yearmonth" ></h2>
			
	<button class="month" id="next"></button>
			
	<button class="month" id="today">오늘</button>
	
    </div>
			
			<div colspan="4" align="right">
			<button id="download" class="styled-button">다운로드</button>
			<a class="styled-button" href="/group/attendance/attendancelist">되돌아가기</a>

		</div>
		
		<table align="center" id="calendar" width="50%"  height ="30%">
		<tr>
		    <th width="14%"><font color="#ed5353">일</font></th>
			<th width="14%"> 월 </th>
			<th width="14%"> 화 </th>
			<th width="14%"> 수 </th>
			<th width="14%"> 목 </th>
			<th width="14%"> 금 </th>
			<th width="14%"><font color="#009de0">토</font></th>
			
		</tr>
	</table>
			
	<script th:src="@{/js/group/attendance/attendance.js}"></script>
</body>
</html >