<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org"
	th:fragment="GAdminMenuFragment">
	<!-- Sidebar -->
	<ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			href="/groupAdmin">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">
				Arion Admin <sup></sup>
			</div>
		</a>


		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed" href="#"
			data-toggle="collapse" data-target="#collapseTwo"
			aria-expanded="true" aria-controls="collapseTwo"> <i
				class="fas fa-fw fa-cog"></i> <span>사원관리</span>
		</a>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">Employees</h6>
					<a class="collapse-item" th:href="@{/groupAdmin}">사원목록</a> 
					<a class="collapse-item" th:href="@{/groupAdmin/GAEmpInsert}">사원등록</a>
					
				</div>
			</div></li>
				<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>회사관리</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">company manage</h6>
                        <a class="collapse-item" th:href="@{/groupAdmin/GADeptList}">부서수정</a>
                        <a class="collapse-item" th:href="@{/groupAdmin/GARankList}">직급수정</a>
                        <a class="collapse-item" th:href="@{/groupAdmin/checkPw}">회사정보수정</a>
                    </div>
                </div>
            </li>
		
		<li class="nav-item"><a class="nav-link collapsed" href="#"
			data-toggle="collapse" data-target="#collapseUtilities"
			aria-expanded="true" aria-controls="collapseUtilities"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>구독결제관리</span>
		</a>
			<div id="collapseUtilities" class="collapse"
				aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<h6 class="collapse-header">subscription payment</h6>
					<a class="collapse-item" th:href="@{/groupAdmin/GAEndSubList}">지난계약조회</a> 
					<a class="collapse-item" th:href="@{/groupAdmin/GANowContract}">현재계약정보</a>
					<a class="collapse-item" th:href="@{/groupAdmin/GAPayList}">결제내역</a>
				</div>
			</div></li>
			
	</ul>
	<!-- End of Sidebar -->
	</html>