<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/home/layouts/home_layout}"
	layout:fragment="content">
<head>
<meta charset="utf-8">
<title>ARION</title>
<link th:href="@{/css/home/qnaInsert.css}" rel="stylesheet">
</head>
<body>
	<div class="container2">
		<h3>게시글 등록</h3>
		<form name="qnaInsert" id="qnaInsert" th:action="@{/qnaInsert}"
			method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label>제목</label> <input type="text" class="form-control"
					name="qnaTitle">
			</div>
			<div class="form-group-inline">
				<div class="form-group" th:if="${#authentication.name == 'anonymousUser'}">
					<label>작성자</label> <input type="text" class="form-control"
						name="qnaWriter">
				</div>
				<div class="form-group" th:if="${#authentication.name != 'anonymousUser'}">
					<label>작성자</label> <input type="text" class="form-control"
						name="qnaWriter" th:value="${company.ceoName}" readonly>
				</div>
				<div class="form-group" th:if="${#authentication.name == 'anonymousUser'}">
					<label>비밀번호</label> <input type="password" class="form-control"
						name="qnaPw">
				</div>
				<div class="form-group" th:if="${#authentication.name != 'anonymousUser'}">
					<label>회사명</label> <input type="text" class="form-control"
						name="qnaCompany" th:value="${company.companyName}" readonly>
				</div>
			</div>
			<div class="form-group">
				<label>내용</label>
				<textarea class="form-control" name="qnaContent" rows="4"></textarea>
			</div>
			<div class="form-group">
				<label>첨부파일</label> <label for="files" class="custom-file-upload">파일선택</label> 
				<input type="file" id="files" name="files" multiple>
				<table id="fileListTable">
					<thead>
						<tr>
							<th>파일명</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="content-footer">
				<button type="submit" class="btn btn-primary">등록</button>
				<button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/home/qna}'|">목록으로</button>
			</div>
			<input type="hidden" name="isLoggedIn" th:value="${#authentication.name != 'anonymousUser'}">
		</form>

	</div>

<script th:src="@{/js/home/qnaInsert.js}"></script>
</body>
</html>
