<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/home/layouts/home_layout}"
    layout:fragment="content">
<head>
<meta charset="utf-8">
<title>ARION</title>
<link th:href="@{/css/home/qnaInfo.css}" rel="stylesheet">
</head>
<body>
<div class="container2">
    <h3>게시물 상세보기</h3>
    <div class="info-section">
        <div>
            <strong>번호:</strong>
            <span th:text="${qnaInfo.qnaNo}"></span>
        </div>
        <div>
            <strong>제목:</strong>
            <span th:text="${qnaInfo.qnaTitle}"></span>
        </div>
    </div>
    <div class="info-section">
        <div>
            <strong>작성자:</strong>
            <span th:text="${qnaInfo.qnaWriter}"></span>
        </div>
        <div>
            <strong>작성일:</strong>
            <span th:text="${#dates.format(qnaInfo.qnaDate, 'yyyy/MM/dd')}"></span>
        </div>
    </div>

    <div class="content-section">
        <h4>내용</h4>
        <p th:text="${qnaInfo.qnaContent}"></p>
    </div>

    <div class="content-section">
        <h4>이미지</h4>
        <div th:each="file : ${fileInfo}">
            <div th:if="${file.fileType.startsWith('image/')}">
                <img th:src="@{/files/{fileName}(fileName=${file.filePath})}" alt="첨부 이미지" />
            </div>       
        </div>
    </div>
    <div class="content-section">
        <h4>첨부파일</h4>	
    	<div th:each="file : ${fileInfo}">
            <div class="file-links" th:if="${!file.fileType.startsWith('image/')}">
                <a th:href="@{/files/{fileName}(fileName=${file.filePath})}" th:text="${file.fileOriginalName}" ></a>
            </div>
        </div>
	</div>
    <div class="reply-section">
        <h4>답변</h4>
        <p th:text="${qnaInfo.qnaReply}"></p>
        <div>
            <strong>답변시간:</strong>
          <p th:text="${#dates.format(qnaInfo.replyDate,'yyyy/MM/dd')}"></p>
        </div>
    </div>

   <div class="content-footer">
        <div th:if="${isOwner}">
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/home/qnaUpdate(qnaNo=${qnaInfo.qnaNo})}' |">수정</button>
            <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/home/qnaDelete(qnaNo=${qnaInfo.qnaNo})}' |">삭제</button>
        </div>
        <div th:if="${!isOwner}">
            <button type="button" class="btn btn-primary" id="updateButton" th:data-qna-no="${qnaInfo.qnaNo}">수정</button>
            <button type="button" class="btn btn-danger" id="deleteButton" th:data-qna-no="${qnaInfo.qnaNo}">삭제</button>
        </div>
        <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/home/qna}'|">목록으로</button>
    </div>
</div>

<!-- 비밀번호 입력 모달 -->
<div id="passwordModal">
    <div id="modalContent">
        <label for="password">비밀번호:</label>
        <input type="password" id="password" />
        <button type="button" id="passwordConfirmBtn">확인</button>
        <button type="button" class="cancel-btn" onclick="closePasswordModal()">취소</button>
    </div>
</div>

<script th:src="@{/js/home/qnaInfo.js}"></script>
</body>
</html>
