<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/admin/layouts/admin_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>ARION</title>
</head>
<body>
	<div class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Charts</h1>
		<p class="mb-4">
			이 화면은 두 가지 차트를 통해 매출 데이터를 시각적으로 분석할 수 있습니다. 상단의 파이 차트는 전체 매출에서 각 월의 비율을 보여주어 각 월의 기여도를 비교할 수 있습니다. 하단의 라인 차트는 월별 매출의 변동 추세를 선으로 나타내어 시간에 따른 매출의 흐름을 파악하는 데 도움이 됩니다. 이 두 차트를 통해 매출 성과를 종합적으로 이해하고 전략적인 결정을 내릴 수 있습니다.
		</p>

		<!-- Content Row -->
		<div class="row">

			<div class="col-xl-8 col-lg-7">

				<!-- Area Chart -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">월별 매출 차트</h6>
					</div>
					<div class="card-body">
						<div class="chart-area">
							<div class="chartjs-size-monitor">
								<div class="chartjs-size-monitor-expand">
									<div class=""></div>
								</div>
								<div class="chartjs-size-monitor-shrink">
									<div class=""></div>
								</div>
							</div>
							<canvas id="myAreaChart" width="464" height="320"
								style="display: block; width: 464px; height: 320px;"
								class="chartjs-render-monitor"></canvas>
						</div>
						<hr>
						<code>월별 매출은 매달의 총 매출액을 나타내는 지표로, 특정 기간 동안의 판매 성과를 시각적으로 비교할 수 있습니다. 이 데이터는 사업의 성장 추세를 분석하고 월별 성과를 평가하는 데 유용합니다.</code>
					</div>
				</div>
			</div>
			<!-- Donut Chart -->
			<div class="col-xl-4 col-lg-5">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">업종별 차트</h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="chart-pie pt-4">
							<div class="chartjs-size-monitor">
								<div class="chartjs-size-monitor-expand">
									<div class=""></div>
								</div>
								<div class="chartjs-size-monitor-shrink">
									<div class=""></div>
								</div>
							</div>
							<canvas id="myPieChart" width="313" height="253"
								style="display: block; width: 313px; height: 253px;"
								class="chartjs-render-monitor"></canvas>
						</div>
						<hr>
						<code>이 차트는 우리 모듈을 사용하는 다양한 업종별 통계를 시각화한 도넛 차트입니다. 각 업종의 사용 현황을 한눈에 쉽게 파악할 수 있도록 구성되었습니다.</code>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
