<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/group/layouts/group_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>ARION</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="organize.css">
</head>
<body>
    <div class="container">
        <div class="companies">
            <h2>회사 목록</h2>
            <ul id="companyList"></ul>
        </div>
        <div class="addresses">
            <h2>주소록</h2>
            <ul id="addressList"></ul>
        </div>
        <div id="addressDetail">
            <h3>주소록 정보</h3>
            <p>이름: <span id="detailName"></span></p>
            <p>연락처: <span id="detailPhone"></span></p>
            <p>이메일: <span id="detailEmail"></span></p>
            <p>직급: <span id="detailRank"></span></p>
            <div class="button-group">
                <button id="editButton">수정</button>
                <button id="deleteButton" class="delete">삭제</button>
                <button id="emailButton" class="email-button">메일 보내기</button>
            </div>
        </div>
        <button class="register-button" onclick="window.location.href='/group/Gang/AddrInsert'">주소록 등록</button>
    </div>

    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/group/Gang/companyNames',
                method: 'GET',
                success: function(data) {
                    let companyList = $('#companyList');
                    companyList.empty();

                    data.forEach(function(company) {
                        companyList.append('<li><a href="#" class="company" data-name="' + company + '">' + company + '</a></li>');
                    });
                }
            });

            $(document).on('click', '.company', function(e) {
                e.preventDefault();
                let companyName = $(this).data('name');

                $.ajax({
                    url: '/group/Gang/addresses',
                    method: 'GET',
                    data: { companyName: companyName },
                    success: function(data) {
                        let addressList = $('#addressList');
                        addressList.empty();
                        $('#addressDetail').hide();

                        data.forEach(function(address) {
                            addressList.append('<li><a href="#" class="address" data-id="' + address.addrNo + '">' + address.addrName + '</a></li>');
                        });
                    }
                });
            });

            $(document).on('click', '.address', function(e) {
                e.preventDefault();
                let addressId = $(this).data('id');

                $.ajax({
                    url: '/group/Gang/address',
                    method: 'GET',
                    data: { addrNo: addressId },
                    success: function(address) {
                        $('#addressDetail').html('<h3>주소록 정보</h3>' +
                            '<p>이름: <span id="detailName">' + address.addrName + '</span></p>' +
                            '<p>연락처: <span id="detailPhone">' + address.addrPhone + '</span></p>' +
                            '<p>이메일: <span id="detailEmail">' + address.addrEmail + '</span></p>' +
                            '<p>직급: <span id="detailRank">' + address.addrRank + '</span></p>' +
                            '<div class="button-group">' +
                                '<button id="editButton">수정</button>' +
                                '<button id="deleteButton" class="delete">삭제</button>' +
                                '<button id="emailButton" class="email-button">메일 보내기</button>' +
                            '</div>'
                        ).show();
                    }
                });
            });
        });
    </script>
</body>
</html>
