<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
	<meta charset="UTF-8">
	<title>ARION</title>
	<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
	<link th:href="@{/css/group/document/document.css}" rel="stylesheet">
</head>

<body>
	<div class="container2">
		<div class="header2">문서작성</div>
		<form id="writeDoc" th:action="@{/writeDoc}" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="button-container">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approverModal">결재자 선택</button>
					<ul id="selectedApproversList"></ul>
				</div>
				<div class="button-container">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#referenceModal">참조자 선택</button>
					<ul id="selectedReferencesList"></ul>
				</div>
			</div>

			<table class="form-table">
				<tr>
					<th>제목</th>
					<td colspan="2">
					<input type="text" name="docTitle"></td>
					<td>
						<select id="templateSelect">
							<option value="">템플릿을 선택하세요.</option>
							<option th:each="temp : ${tempList}" th:value="${temp.tempNo}" th:text="${temp.docName}"></option>
						</select>
						<input type="hidden" name="docName" id="docName">
					</td>
				</tr>
				<tr>
					<th>첨부파일</th>
					<td colspan="3">
						<input type="file" name="files" id="fileInput" multiple>
						<ul id="fileList" class="file-list"></ul>
					</td>
				</tr>
				<tr>
					<th>내용</th>
					<td colspan="3">
						<div id="placeholder" class="placeholder-message">
							<h5>내용을 작성하려면 템플릿을 선택하세요</h5>
						</div> 
						<textarea id="editor" hidden></textarea>
						<!-- 휴가 신청서 템플릿 -->
						<div id="leaveForm" style="display: none; width: 100%;">
						    <table class="form-table" style="border: 0px solid rgb(0, 0, 0); width: 1300px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse;">
						        <!-- Header -->
						        <colgroup>
						            <col width="310">
						            <col width="490">
						        </colgroup>
						        <tbody>
						            <tr>
						                <td style="background: white; padding: 0px; border: 0px solid black; height: 65px; text-align: left; color: black; font-size: 30px; font-weight: bold; vertical-align: middle;">
						                    &nbsp;휴가 신청서
						                </td>
						                <td style="background: white; padding: 0px; border: 0px solid black; text-align: right; color: black; font-size: 12px; vertical-align: top;">
						                </td>
						            </tr>
						        </tbody>
						    </table>
							<form>
						 	<table class="form-table" style="border: 0px solid rgb(0, 0, 0); width: 800px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 10px; border-collapse: collapse;">
						        <colgroup>
						            <col width="120">
						            <col width="280">
						            <col width="120">
						            <col width="280">
						        </colgroup>
						        <tbody>
						            <tr>
						                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    성명
						                </td>
						                <td style="background: rgb(255, 255, 255); border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;">
						                   <input style="width:100%; height:100%;"/>
						                </td>
						                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    부서
						                </td>
						                <td style="background: rgb(255, 255, 255); border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;">
						                 	<input style="width:100%; height:100%;"/>
						                </td>
						            </tr>
						            <tr>
						                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    직위
						                </td>
						                <td style="background: rgb(255, 255, 255); border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;">
						                 	<input style="width:100%; height:100%;"/>
						                </td>
						                <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    신청일
						                </td>
                							<td style="background: rgb(255, 255, 255); border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;">
                    							<input style="width:100%; height:100%;"/>
                							</td>
            							</tr>
        							</tbody>
    							</table>

    							<table class="form-table" style="border: 0px solid rgb(0, 0, 0); width: 800px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 10px; border-collapse: collapse;">
        							<colgroup>
            							<col width="120">
            							<col width="280">
            							<col width="120">
            							<col width="280">
        							</colgroup>
        							<tbody>
            							<tr>
                							<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                    							휴가 종류
                							</td>
                							<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;" colspan="3">
                    							<select th:value="holType" style="background: rgb(255, 255, 255); padding: 10px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;" colspan="3">
                        							<option>휴가를 선택하세요</option>
                        							<option>반차(오전)</option>
                        							<option>반차(오후)</option>
                        							<option>연차</option>
                   								</select>
               	 							</td>
            							</tr>
            							<tr>
                							<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                    							휴가 기간
                							</td>
                							<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle; height: 70px;" colspan="3">
                    						시작일: <input type="date" th:name="startDate" style="font-size: 18px; padding: 10px; width: 160px;"> 
                    					시작 시간: <select th:name="startDateTime" style="font-size: 18px; width:30%;  padding: 10px;">
                        							<option>-- : --</option>
                        							<option>09:00</option>
                        							<option>10:00</option>
                        							<option>11:00</option>
                        							<option>12:00</option>
                        							<option>13:00</option>
                        							<option>14:00</option>
                 			  				        <option>15:00</option>
                							        <option>16:00</option>
                    							</select><br>
                   							종료일: <input th:name="endDate" type="date" style="font-size: 18px; padding: 10px; width: 160px;"> 
                    					종료 시간: <select th:name="endDateTime" style="font-size: 18px; width:30%; padding: 10px;">
                        							<option>-- : --</option>
                        							<option>14:00</option>
                        							<option>15:00</option>
                        							<option>16:00</option>
                        							<option>17:00</option> 
                        							<option>18:00</option>
                    							</select>
                							</td>
            							</tr>
            							<tr>
                							<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                    							휴가 사유
               	 							</td>
                							<td style="background: rgb(255, 255, 255); border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle; height: 70px;" colspan="3">
                   								<input style="width:100%; height:100%;"/>
                							</td>
            							</tr>
          								<tr>
             							   <td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;">
                							   비고
             							   </td>
             							   <td style="background: rgb(255, 255, 255); border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle;" colspan="3">
               								    <input style="width:100%; height:100%;"/>
               	 							</td>
            							</tr>
            							<tr>
                							<td style="background: rgb(255, 255, 255); padding: 10px; border: 1px solid black; text-align: center; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle; height: 100px;" colspan="4">
                    							상기와 같이 휴가를 신청하오니 검토 후 승인하여 주시기 바랍니다.
                							</td>
            							</tr>
        							</tbody>
    							</table>
    						</form>
						</div>
					</td>
				</tr>
			</table>
			<div class="btn-group">
				<button type="button" class="save" id="submitDocument">상신하기</button>
				<button type="button" class="cancel">작성취소</button>
			</div>
		</form>
	</div>

	<!-- 결재자 선택 모달 -->
	<div class="modal fade" id="approverModal" tabindex="-1" aria-labelledby="approverModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="approverModalLabel">결재자 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="department-list" id="departmentList">
						<!-- 부서 목록이 동적으로 로드됨 -->
					</div>
					<div class="employee-list" id="employeeList">
						<!-- 선택된 부서의 사원 목록이 여기에 추가됨 -->
					</div>
					<div class="employee-list" id="selectedApproversListModal">
						<!-- 선택된 결재자 목록이 여기에 표시됨 -->
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" id="approverSelectDone">결재자 선택 완료</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 참조자 선택 모달 -->
	<div class="modal fade" id="referenceModal" tabindex="-1" aria-labelledby="referenceModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="referenceModalLabel">참조자 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="department-list" id="referenceDepartmentList">
						<!-- 부서 목록이 동적으로 로드됨 -->
					</div>
					<div class="employee-list" id="referenceEmployeeList">
						<!-- 선택된 부서의 사원 목록이 여기에 추가됨 -->
					</div>
					<div class="employee-list" id="selectedReferencesListModal">
						<!-- 선택된 참조자 목록이 여기에 표시됨 -->
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" id="referenceSelectDone">참조자 선택 완료</button>
				</div>
			</div>
		</div>
	</div>




<script th:src="@{/js/group/document/document.js}"></script>
</body>
</html>
