<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/group/layouts/group_layout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>ARION</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link th:href="@{/css/group/document/documentInfo.css}" rel="stylesheet"/>
</head>
<body>
<div class="container2">
    <div class="header2">문서 조회</div>

    <!-- 결재자 정보 -->
    <div class="approver-info-container">
        <th:block th:each="appr, status : ${apprInfo}">
            <div class="approver-info" id="approver-[[${status.index}]]">
                <label>결재자</label>
                <div>[[${appr.departmentName}]] | [[${appr.employeeName}]] [[${appr.rankName}]]</div>
                <div>결재상태 : [[${appr.apprStatus}]]</div>
                <div>결재시간 : <span th:text="${#dates.format(appr.signDate, 'yyyy-MM-dd')}"></span></div>
                <th:block th:if="${appr.signImg != null}">
            		<img th:src="@{/files/signatures/{fileName}(fileName=${appr.signImg})}" id="signature-pad-[[${status.index}]]" alt="서명 이미지" width="120" height="100"/>
        		</th:block>

        		<th:block th:if="${appr.signImg == null}">
            		<div id="signature-pad-[[${status.index}]]" style="width: 120px; height: 100px;"></div>
        		</th:block>
            </div>
        </th:block>
    </div>

    <!-- 버튼 -->
    <div class="buttons">
        <button type="button" onclick="showSection('docInfo')">문서정보</button>
        <button type="button" onclick="showSection('refInfo')">참조자정보</button>
        <button type="button" onclick="showSection('apprReason')">반려사유</button>
    </div>

    <!-- 문서 정보, 참조자 정보, 반려 사유 섹션 -->
    <div id="docInfo" class="section active-section">
        <table class="form-table">
            <tr>
                <th>문서번호</th>
                <td id="docNo" th:text="${docInfo.docNo}"></td>
                <th>기안서종류</th>
                <td th:text="${docInfo.docName}"></td>
                <th>상신일자</th>
                <td th:text="${#dates.format(docInfo.createDate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <th>부서</th>
                <td th:text="${docInfo.departmentName}"></td>
                <th>결재상태</th>
                <td th:text="${docInfo.apprStatus}"></td>
                <th>완료일자</th>
                <td th:text="${#dates.format(docInfo.finishDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </table>
    </div>

    <div id="refInfo" class="section">
        <table class="form-table">
            <thead>
            <tr>
                <th>부서</th>
                <th>이름</th>
                <th>직급</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="ref : ${refInfo}">
                <tr>
                    <td th:text="${ref.departmentName}"></td>
                    <td th:text="${ref.employeeName}"></td>
                    <td th:text="${ref.rankName}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
	
	<!-- 반려 사유 섹션 -->
    <div id="apprReason" class="section">
        <div>
            <th:block th:each="appr : ${apprInfo}">
                <span th:if="${appr.apprReason != null}" th:text="${appr.apprReason}"></span>
            </th:block>
        </div>
    </div>

    <!-- 문서 제목 및 내용 -->
    <div class="content-section">
        <table class="doc-table">
            <tr>
                <th>제목</th>
                <td th:text="${docInfo.docTitle}"></td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td><th:block th:each="file : ${fileList}">
                        <a th:href="@{/files/{fileName}(fileName=${file.filePath})}"
                           th:text="${file.fileOriginalName}"></a>
                        <br>
                    </th:block></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <div>
                        <span th:if="${docInfo.docContent}" th:utext="${docInfo.docContent}"></span>
                    	<div  th:if="${holInfo.holType != null}" id="leaveForm" style="width: 100%;">
						    <table class="form-table" style="border: 0px solid rgb(0, 0, 0); width: 1300px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse;">
						        <!-- Header -->
						        <colgroup>
						            <col width="310">
						            <col width="490">
						        </colgroup>
						        <tbody>
						            <tr>
						                <td style="background: white; padding: 0px; border: 0px solid black; height: 65px; text-align: left; color: black; font-size: 30px; font-weight: bold; vertical-align: middle;">
						                    &nbsp;휴가 신청서
						                </td>
						                <td style="background: white; padding: 0px; border: 0px solid black; text-align: right; color: black; font-size: 12px; vertical-align: top;">
						                </td>
						            </tr>
						        </tbody>
						    </table>
						        <table class="form-table" style="width: 100%; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse;">
						            <tr>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    성명
						                </td>
						                <td style="text-align: left; font-size: 18px; vertical-align: middle;">
						                    <span th:text="${holInfo.employeeName}"></span>
						                </td>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    부서
						                </td>
						                <td style="text-align: left; font-size: 18px; vertical-align: middle;">
						                  	<span th:text="${holInfo.departmentName}"></span>
						                </td>
						            </tr>
						            <tr>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    직위
						                </td>
						                <td style="text-align: left; font-size: 18px; vertical-align: middle;">
						                    <span th:text="${holInfo.rankName}"></span>
						                </td>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    신청일
						                </td>
						                <td style="text-align: left; font-size: 18px; vertical-align: middle;">
						                    <span th:text="${holInfo.appliDate}"></span>
						                </td>
						            </tr>
						            <tr>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    휴가 종류
						                </td>
						                <td style="padding: 5px; text-align: left; font-size: 18px; vertical-align: middle;" colspan="3">
						                    <span th:text="${holInfo.holType}"></span>
						                </td>
						            </tr>
						            <tr>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    휴가 기간
						                </td>
						                <td style="padding: 5px; text-align: left; font-size: 18px; vertical-align: middle;" colspan="3">
						                    시작일: <span th:text="${formatStartDate}"></span> 
    										시작시간: <span th:text="${formatStartTime}"></span><br>
    										종료일: <span th:text="${formatEndDate}"></span> 
   											종료시간: <span th:text="${formatEndTime}"></span>
						                </td>
						            </tr>
						            <tr>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    휴가 사유
						                </td>
						                <td style="padding: 5px; text-align: left; font-size: 18px; vertical-align: middle;" colspan="3">
						                    <span th:text="${holInfo.holReason}"></span>
						                </td>
						            </tr>
						            <tr>
						                <td style="padding: 5px; height: 25px; text-align: center; font-size: 14px; font-weight: bold; vertical-align: middle;">
						                    비고
						                </td>
						                <td style="padding: 5px; text-align: left; font-size: 18px; vertical-align: middle;" colspan="3">
						                    <span th:text="${holInfo.holNote}"></span>
						                </td>
						            </tr>
						            <tr>
                						<td style="background: rgb(255, 255, 255); padding: 10px; text-align: center; color: rgb(0, 0, 0); font-size: 18px; vertical-align: middle; height: 100px;" colspan="4">
                    						상기와 같이 휴가를 신청하오니 검토 후 승인하여 주시기 바랍니다.
                						</td>
            						</tr> 
						        </table>
						</div>
                    
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- 액션 버튼들 -->
    <div class="action-buttons">
        <button th:if="${accessAppr == 1}" type="button" id="approveBtn" th:data-doc-no="${docInfo.docNo}">결재하기</button>
        <button th:if="${accessAppr == 1}" type="button" id="rejectBtn" th:data-doc-no="${docInfo.docNo}">반려하기</button>
        <button type="button" onclick="location.href='/group/doc/apprProgress'">목록으로</button>
    </div>
</div>

<div id="approvalModal" class="modal">
    <div class="modal-content">
        <th:block th:if="${empSign != null}">
            <img th:src="@{/files/signatures/{fileName}(fileName=${empSign})}" id="signatureImage" alt="서명 이미지"/>
            <div class="button-group">
                <button type="button" class="save" id="confirmSignBtn">서명하기</button>
                <button type="button" class="cancel" onclick="closeModal()">취소</button>
            </div>
        </th:block>
        <th:block th:if="${empSign == null}">
            <p>전자서명이 없습니다.</p>
            <div class="button-group">
                <button type="button" class="clear" onclick="location.href='/group/doc/sign'">전자서명 등록</button>
                <button type="button" class="cancel" onclick="closeModal()">취소</button>
            </div>
        </th:block>
    </div>
</div>

<!-- 반려 모달 -->
<div id="rejectModal" class="modal">
    <div class="modal-content">
        <textarea id="rejectReason" placeholder="반려 사유를 입력하세요."></textarea>
        <div class="button-group">
            <button type="button" class="save" id="confirmRejectBtn" th:data-doc-no="${docInfo.docNo}">반려하기</button>
            <button type="button" class="cancel" onclick="closeRejectModal()">취소</button>
        </div>
    </div>
</div>

<script>
    // 섹션 표시 함수
    function showSection(sectionId) {
        $('.section').removeClass('active-section');
        $('#' + sectionId).addClass('active-section');
    }

    // 결재 버튼 클릭 시
    $('#approveBtn').on('click', function() {
        const docNo = this.getAttribute('data-doc-no');
        checkApproval(docNo);
    });

    // 결재 권한 확인 함수
    function checkApproval(docNo) {
        console.log(docNo);
        $.ajax({
            url: '/group/doc/checkApproval',
            method: 'POST',
            data: { docNo: docNo }
        })
        .done(function(hasApproval) {
            if (hasApproval) {
                openApprovalModal(docNo);
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: '권한 없음',
                    text: '결재 순서가 아닙니다.',
                    confirmButtonText: '확인'
                });
            }
        })
        .fail(function() {
            Swal.fire({
                icon: 'warning',
                title: '권한 없음',
                text: '결재 순서가 아닙니다.',
                confirmButtonText: '확인'
            });
        });
    }

    // 모달 열기
    function openApprovalModal(docNo) {
        $('#approvalModal').data('docno', docNo).show();
    }

    // 모달 닫기
    function closeModal() {
        $('#approvalModal').hide();
    }

    // 서명하기 버튼 클릭 시 결재 처리
    $('#confirmSignBtn').on('click', function() {
        const docNo = $('#approvalModal').data('docno');
        submitApproval(docNo);
    });

    // 결재 처리 함수
    function submitApproval(docNo) {
        const signImg = $('#signatureImage').attr('src').split('/').pop(); // 파일 이름만 가져오기
        console.log(signImg);
        $.ajax({
            url: '/group/doc/approveDocument',
            method: 'POST',
            data: { docNo: docNo, signImg: signImg }
        })
        .done(function(data) {
            Swal.fire({
                icon: 'success',
                title: '결재 완료',
                text: data,
                confirmButtonText: '확인'
            }).then((result) => {
                if (result.isConfirmed) {
                	location.reload();
                    closeModal();
                }
            });
        })
        .fail(function() {
            Swal.fire({
                icon: 'error',
                title: '오류 발생',
                text: '결재 처리 중 오류가 발생했습니다.',
                confirmButtonText: '확인'
            });
        });
    }


    $('#rejectBtn').on('click', function() {
        const docNo = this.getAttribute('data-doc-no');
        checkCanReject(docNo);
    });

    // 반려 가능 여부 확인
    function checkCanReject(docNo) {
        $.ajax({
            url: '/group/doc/checkCanReject',
            method: 'POST',
            data: { docNo: docNo }
        })
        .done(function(approvalCount) {
        	 if (approvalCount > 0) {
        		 console.log(approvalCount);
        	        $('#rejectModal').show();
            } else { // 반려 불가능
            	console.log(approvalCount + "!!!");
            	Swal.fire({
                    icon: 'warning',
                    title: '반려 불가',
                    text: '반려할 수 없습니다.',
                    confirmButtonText: '확인'
                });
            }
        })
        .fail(function() {
            Swal.fire({
                icon: 'error',
                title: '오류 발생',
                text: '반려 가능 여부 확인 중 오류가 발생했습니다.',
                confirmButtonText: '확인'
            });
        });
    }

    // 반려 모달 닫기
    function closeRejectModal() {
        $('#rejectModal').hide();
    }

    // 반려하기 버튼 클릭 시 반려 처리
    $('#confirmRejectBtn').on('click', function() {
        const docNo = this.getAttribute('data-doc-no');
        const apprReason = $('#rejectReason').val();

        if (apprReason === "") {
            Swal.fire({
                icon: 'warning',
                title: '반려 사유 입력',
                text: '반려 사유를 입력해주세요.',
                confirmButtonText: '확인'
            });
            return; // 반려 처리를 중단
        }

        $.ajax({
            url: '/group/doc/rejectDocument',
            method: 'POST',
            data: { docNo: docNo, apprReason: apprReason }
        })
        .done(function(data) {
            Swal.fire({
                icon: 'success',
                title: '반려 완료',
                text: data,
                confirmButtonText: '확인'
            }).then((result) => {
                if (result.isConfirmed) {
                    closeRejectModal();
                    location.reload(); 
                }
            });
        })
        .fail(function() {
            Swal.fire({
                icon: 'error',
                title: '오류 발생',
                text: '반려 처리 중 오류가 발생했습니다.',
                confirmButtonText: '확인'
            });
        });
    });
</script>
</body>
</html>
