<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>database</title>
</head>
<input type="hidden" id="companycode"  th:value="${session.companyCode}">
<input type="hidden" id="ranking"  th:value="${ranking}">
<body onload="autoReload();">
	
	<table id="datatable" align="center" border="1"  width="80%"  >
	</table>
	
	<script th:src="@{/js/group/database/database.js}"></script>
</body>
</html>