<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/smarteditor2/js/HuskyEZCreator.js}" charset="utf-8"></script>
<title></title>
</head>
<body>
	<div>
		<h3>글 수정</h3>
		<form name="UpdateForm" th:object="${board}">
		<input type="hidden" th:field="*{boardNo}">
		<table>
			<tr>
				<th>제목</th>
				<td><input type="text" th:field="*{boardTitle}"></td>
			</tr>
			<tr>
				<th>내용</th>
					<td width="100%" height="100%"><textarea name="boardContent"
					 th:field="*{boardContent}" id="boardContent" rows="15px" cols="75px" ></textarea></td>
			</tr>
		</table>
			<div>
				<button type="button" id="updateBtn">수정</button>
				<button type="button" th:onclick="|location.href='@{freeboardInfo(boardNo=${board.boardNo})}'|">취소</button>
			</div>
		</form>
	</div>
	<script>
	$(function(){
		var oEditors = [];
		nhn.husky.EZCreator.createInIFrame({
			  oAppRef : oEditors,
			  elPlaceHolder : "boardContent",
			  sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
			  fCreator : "createSEditor2"
			});
		
	$('#updateBtn').on('click', boardUpdateAjax);	
	function boardUpdateAjax(event){
		
		oEditors.getById["boardContent"].exec("UPDATE_CONTENTS_FIELD", []);
		
		let info = getBoardInfo();
		console.log(info);
		
		$.ajax('freeboardUpdate',{
			type:'post',
			contentType : 'application/json',
			data : JSON.stringify(info)
		})
		.done(data => {
			if(data.result){
				alert('정상적으로 수정되었습니다.');
				location.href="/group/freeboardList"
			}else{
				alert('수정되지 않았습니다.\n데이터를 확인해주세요.');
			}
		})
		.fail(err => console.log(err));			
	};
	
	function getBoardInfo(){
		let formData= $('form[name="UpdateForm"]').serializeArray();
		console.log('1) serializeArray', formData);
		
		let objData = {};
		$.each(formData, (idx, input) => {
			console.log('2) input', idx, input);
			objData[input.name] = input.value;
		});
		
		console.log('3) objData', objData);
		return objData;
	};
	
	})
	</script>
</body>
</html>