<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h2>자유게시판</h2>
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th><!-- yyyy. MM. dd -->
					<th>조회수</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="board, sts : ${boards}"> 
					<tr th:name="${sts.count}"
						th:onclick="|location.href='@{freeboardInfo(boardNo=${board.boardNo})}'|">
						<td th:text="${board.boardNo}"></td>
						<td th:text="${board.boardTitle}"></td>
						<td th:text="${board.employeeName}"></td>
						<td th:text="${#dates.format(board.writeDate, 'yyyy.MM.dd')}"></td>
						<td th:text="${board.viewCnt}"></td>		<!-- 조회수 -->
					<tr>
				</th:block>
			</tbody>
		</table>
		<div>
			<button type="button" th:onclick="|location.href='@{freeboardInsert}'|">글쓰기</button>
		</div>
	</div>
</body>
</html>