<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/group/layouts/group_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/group/board/boardList.css}">
<title>ARION</title>
</head>
<body>
	<div>
        <h2><a th:href="@{/group/freeboardList}">자유게시판</a></h2>
        
        <!-- 검색과 글쓰기 버튼 -->
        <div class="action-bar">
            <form name="searchform" autocomplete="off">
                <input type="hidden" name="pageNum" value="1">
                <select name="searchType">
                    <option selected value="">선택</option>
                    <option value="boardTitle" th:selected="${criteria.searchType} =='boardTitle'">제목</option>
                    <option value="boardContent" th:selected="${criteria.searchType} =='boardContent'">내용</option>
                    <option value="employeeName" th:selected="${criteria.searchType} =='employeeName'">작성자</option>
                </select>
                <input type="text" name="keyword" th:value="${criteria.keyword}">
                <input type="submit" value="검색">
            </form>
            <button type="button" class="styled-button" th:onclick="|location.href='@{freeboardInsert}'|">글쓰기</button>
        </div>

        <!-- 게시판 테이블 -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="board, sts : ${boards}"> 
                    <tr th:name="${sts.count}" th:onclick="|location.href='@{freeboardInfo(boardNo=${board.boardNo})}'|">
                        <td th:text="${board.boardNo}" style="display: none;"></td>
                        <td th:text="${board.boardTitle}"></td>
                        <td th:text="${board.employeeName}"></td>
                        <td th:text="${#dates.format(board.writeDate, 'yyyy.MM.dd')}"></td>
                        <td th:text="${board.viewCnt}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <!-- 페이징 -->
        <div th:object="${page}">
            <nav aria-label="Page navigation" class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item" th:if="*{prev}">
                        <a class="page-link" th:href="*{startPage - 1}" aria-label="Previous"> 
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="num : ${#numbers.sequence(page.getStartPage(), page.getEndPage())}">
                        <li class="page-item" th:classappend="${page.criteria.getPageNum() == num} ? 'active'">
                            <a class="page-link" th:href="|javascript:gopage(${num})|" th:text="${num}"
                                th:unless="${page.criteria.getPageNum() == num}"></a> 
                            <span class="page-link" th:if="${page.criteria.getPageNum() == num}" th:text="${num}"></span>
                        </li>
                    </th:block>
                    <li class="page-item" th:if="*{next}">
                        <a class="page-link" th:href="*{endPage + 1}" aria-label="Next"> 
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
	<script>
	function gopage(p){
		searchform.pageNum.value = p;
		searchform.submit();		
	}
	</script>
	
</body>
</html>