<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/group/layouts/group_layout}"
      layout:fragment="Content">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/smarteditor2/js/HuskyEZCreator.js}" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" th:href="@{/css/group/board/boardUpdate.css}">
    <title></title>
</head>
<body>
    <div class="container">
        <h3>공지사항 글 수정</h3>
        <form name="UpdateForm" th:object="${board}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{boardNo}">
            <div class="form-group">
                <label for="boardTitle">제목</label>
                <input type="text" id="boardTitle" th:field="*{boardTitle}">
            </div>
            <div class="form-group">
                <label for="boardContent">내용</label>
                <textarea name="boardContent" th:field="*{boardContent}" id="boardContent" rows="10"></textarea>
            </div>
            <div class="form-group">
				<label>첨부파일</label> <label for="files" class="custom-file-upload"></label> 
				<input type="file" id="files" name="files" multiple>
				<table id="fileListTable">
					<thead>
						<tr>
							<th>파일명</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
                        <tr th:each="file : ${fileInfo}">
                            <td th:text="${file.fileOriginalName}"></td>
                            <td><span class="remove-file" onclick="removeFile(this)">x</span></td>
                        </tr>
                    </tbody>
				</table>
			</div>
            <div class="form-actions">
                <button type="button" class="btn-primary" id="updateBtn" th:data-bno-no="*{boardNo}">수정</button>
                <button type="button" class="btn-secondary" th:onclick="|location.href='@{noticeboardInfo(boardNo=${board.boardNo})}'|">취소</button>
            </div>
        </form>
    </div>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            $(function() {
                var oEditors = [];
                nhn.husky.EZCreator.createInIFrame({
                    oAppRef: oEditors,
                    elPlaceHolder: "boardContent",
                    sSkinURI: "/smarteditor2/SmartEditor2Skin.html",
                    fCreator: "createSEditor2"
                });

                let fileList = [];

                $('#files').on('change', function(e) {
                    const fileListTable = $('#fileListTable tbody');

                    $.each(e.target.files, function(index, file) {
                        fileList.push(file);
                        const newRow = $('<tr>');
                        newRow.append($('<td>').text(file.name));
                        const removeButton = $('<td>').append($('<span class="remove-file">x</span>').on('click', function() {
                            const rowIndex = $(this).closest('tr').index();
                            fileList.splice(rowIndex, 1);
                            $(this).closest('tr').remove();
                        }));
                        newRow.append(removeButton);
                        fileListTable.append(newRow);
                    });

                    $('#files').val('');
                });
                
                $('#updateBtn').on('click', boardUpdateAjax);    
                let bno = $('#updateBtn').data('bno-no');

                function boardUpdateAjax(event) {
                    event.preventDefault(); // 기본 동작 방지

                    oEditors.getById["boardContent"].exec("UPDATE_CONTENTS_FIELD", []);

                    let title = $('input[name="boardTitle"]').val().trim();
                    let content = $('textarea[name="boardContent"]').val().trim();

                    if (title === '') {
                        Swal.fire({
                            icon: 'warning',
                            title: '제목이 입력되지 않았습니다',
                            text: '제목을 입력해주세요',
                            confirmButtonText: '확인'
                        });
                        return;
                    }
                    if (content === '') {
                        Swal.fire({
                            icon: 'warning',
                            title: '내용이 입력되지 않았습니다',
                            text: '내용을 입력해주세요',
                            confirmButtonText: '확인'
                        });
                        return;
                    }

                    let info = getBoardInfo();
                    console.log(info);
                    
                    // FormData 객체를 생성하고, 폼의 모든 데이터를 추가합니다.
                    const formData = new FormData($('form[name="UpdateForm"]')[0]);

                    // 파일 데이터를 추가합니다.
                    $.each(fileList, function(index, file) {
                        formData.append('files', file);
                    });
                    
                    $.ajax({
                        url: 'noticeboardUpdate',
                        type: 'post',
                        data: formData,
                        processData: false, // FormData 객체를 문자열로 변환하지 않음
                        contentType: false  // 요청의 Content-Type을 설정하지 않음
                    })
                    .done(data => {
                        if (data.result) {
                            Swal.fire({
                                icon: 'success',
                                title: '정상적으로 수정되었습니다',
                                confirmButtonText: '확인'
                            }).then(() => {
                                location.href = `/group/noticeboardInfo?boardNo=` + bno;
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '수정되지 않았습니다',
                                text: '값을 입력해주세요',
                                confirmButtonText: '확인'
                            });
                        }
                    })
                    .fail(err => console.log(err));
                };

                function getBoardInfo() {
                    let formData = $('form[name="UpdateForm"]').serializeArray();
                    let objData = {};
                    $.each(formData, (idx, input) => {
                        objData[input.name] = input.value;
                    });
                    return objData;
                };
            });
        });
    </script>
</body>

</html>