@charset "UTF-8";
/* mail.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    display: inline-block;
}

.search-container {
    display: inline-block;
    float: right;
    margin: 20px;
}

.search-container select,
.search-container input {
    margin-right: 5px;
    padding: 5px;
    font-size: 0.8rem;
}

.search-container button {
    padding: 5px 10px;
    font-size: 0.8rem;
}

.table-container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th.checkbox-container,
td.checkbox-container {
    width: 5%;
    text-align: center;
}

th, td a {
    text-decoration: none;
    color: #333;
}

.actions-container, .bottom-buttons {
    margin-top: 20px;
    text-align: right;
}

.actions-container button, .bottom-buttons button {
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li.active a {
    font-weight: bold;
}

.pagination a {
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    text-decoration: underline;
}
