<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메일함</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
    <div id="container">
        <header>
            <h1>내 메일함</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#" onclick="loadMails('received')">받은메일함</a></li>
                <li><a href="#" onclick="loadMails('important')">중요메일함</a></li>
                <li><a href="#" onclick="loadMails('sent')">보낸메일함</a></li>
                <li><a href="#" onclick="loadMails('deleted')">휴지통</a></li>
            </ul>
        </nav>
        <main>
            <div id="mailList">
            </div>
            <div id="mailDetail">
            </div>
        </main>
    </div>
</body>
</html>
