<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/group/layouts/group_layout}"
      layout:fragment="Content">
<head>
<link th:href="@{/css/group/mail/mail.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>메일 상세보기</title>
 
</head>
<body>
    <h1>메일 상세보기</h1>

    <div class="mail-details">
        <div class="info">
            <span class="label">발신자:</span> <span th:text="${mailInfo.senderName}">발신자 이름</span>
        </div>
        <div class="info">
            <span class="label">제목:</span> <span th:text="${mailInfo.mailTitle}">메일 제목</span>
        </div>
        <div class="info">
            <span class="label">수신일:</span> <span th:text="${#dates.format(mailInfo.sendDate, 'yyyy-MM-dd')}">수신일</span>
        </div>
        <div class="mail-content">
            <p th:text="${mailInfo.mailContent}">메일 내용</p>
        </div>
        <div class="content-section">
            <h4>첨부파일</h4>    
            <div th:each="file : ${fileInfo}">
                <div class="file-links" th:if="${!file.fileType.startsWith('image/')}">
                    <a th:href="@{/files/{fileName}(fileName=${file.filePath})}" th:text="${file.fileOriginalName}"></a>
                </div>
            </div>
        </div>
        
        <div class="actions-container">
            <!-- 답장하기 링크 수정 -->
         <a th:href="@{/group/mail/reply/{mailNo}(mailNo=${mailInfo.mailNo})}">답장하기</a>
        </div>
    </div>
</body>
</html>
