<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="HomeFooterFragment">

       <!-- Copyright -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="p-small">회사명 : ARION</p>
                        <p class="p-small">사업자 등록번호 : 123-45-67890</p>
                        <p class="p-small">주소 : 대구광역시 중구 중앙대로 403 (남일동 135-1, 5층)</p>
                        <p class="p-small">Tel : 053-456-7890</p>
                       
                    </div> <!-- end of col -->

                    <div class="col-lg-6">
                        <p class="p-small">© 2024 ARION. All Rights Reserved.</p>    
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
        

</html>