<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="HomeHeaderFragment">
<head>
    <meta charset="UTF-8">
</head>
 <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <a class="navbar-brand logo-image" th:href="@{/home}"><img th:src="@{/images/arion.png}" style="width: 80px; height: 80px"alt="alternative"></a> 

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="navbar-brand logo-text" href="index.html">Ioniq</a> -->

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/home/module}">기능</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/home/service}">서비스 요금</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">고객지원</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li><a class="dropdown-item" th:href="@{/home/faq}">FAQ</a></li>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" th:href="@{/home/qna}">Q&A상담</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="nav-item">
                		<a th:if="${#authentication.name == 'anonymousUser'}" class="btn-outline-sm" th:href="@{/home/signCheck}">가입하기</a>
                		<a th:if="${#authentication.name == 'anonymousUser'}" class="btn-outline-sm" th:href="@{/}">로그인</a>
                		<a th:if="${#authentication.name != 'anonymousUser'}" class="btn-outline-sm" th:href="@{/groupAdmin}">그룹웨어 가기</a>
                		<a th:if="${#authentication.name != 'anonymousUser'}" class="btn-outline-sm" th:href="@{/logout}">로그아웃</a>
            		</span>
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->

</html>