<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/home/layouts/home_layout}"
	  layout:fragment="content">
<head>
	<meta charset = "utf-8">
    <title>ARION</title>
</head>
<body>
   <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large">The #1 GroupWare for <span class="replace-me">구독형, 선택형 모듈, 저렴한 가격</span></h1>
                            <p class="p-large"></p>
                            <a class="btn-solid-lg" href="sign-up.html">가입하기</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="images/header-illustration.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of header -->
        <!-- end of header -->
        
        
</body>
</html>