<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>ARION</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<link th:href="@{/css/home/login.css}" rel="stylesheet">
 <!-- Favicon  -->
<link th:href="@{/images/favicon.png}" rel="icon">
</head>
<body>
<div class="home-button">
	<a th:href="@{/home}"><button>홈페이지로 바로가기</button></a>
</div>
<div class="container">
    <div class="logo-container">
	    <img th:src="@{/images/arion.png}" alt="Logo">
    </div>
    <form id="loginForm" th:action="@{/perform_login}" method="post">
        <div class="form-group">
    	    <label>Login Type:</label>
            <input type="radio" name="loginType" value="company" checked> Company
            <input type="radio" name="loginType" value="employee"> Employee
        </div>
        <div class="form-group">
            <label>Company Code:</label>
            <input type="text" name="companyCode" />
        </div>
        <div class="form-group">
            <label>Id:</label>
            <input type="text" name="id" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        	<input type="hidden" name="username" />
       	<div class="form-group checkbox-group">
            <input type="checkbox" name="remember" />
            <label>Save (Code, ID)</label>
        </div>
            <button type="submit">Sign in</button>
        <div class="error-message" th:if="${param.error}">
            <p>회사코드 또는 Id 나 비밀번호가 일치하지 않습니다.</p>
        </div>
        <div class="form-actions">
            <a href="#" id="findIdModalBtn">회사코드/아이디 찾기</a>
            <a href="#" id="findPwModalBtn">비밀번호 찾기</a>
        </div>
    </form>
</div>
<div id="findIdModal" class="modal" hidden>
   	<div class="modal-content">
   		<h2>회사코드/아이디 찾기</h2>
   		<div class="form-group">
   			<label>대표자 명</label>
           	<input type="text" id="ceoName" name="ceoName" />
       	</div>
       	<div class="form-group">
           	<label>사업자 등록번호</label>
           	<input type="text" id="businessNumber" name="businessNumber" />
       	</div>
       	<div class="button-group">
            <button type="button" class="btn btn-primary" id="findIdBtn">확인</button>
            <button type="button" class="btn close">취소</button>
        </div>
   	</div>
</div>    

<div id="findPwModal" class="modal" hidden>
   	<div class="modal-content">
   		<h2>비밀번호 찾기</h2>
   		<div class="form-group">
   			<label>회사코드</label>
           	<input type="text" id="companyCode" name="companyCode" />
       	</div>
       	<div class="form-group">
           	<label>아이디</label>
           	<input type="text" id="companyId" name="companyId" />
       	</div>
       	<div class="button-group">
            <button type="button" class="btn btn-primary" id="findPwBtn">확인</button>
            <button type="button" class="btn close">취소</button>
        </div>
   	</div>
</div>
</body>
<script th:src="@{/js/home/login.js}"></script>
</html>