<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/groupAdmin/configs/Gadmin_config :: GAdminConfigFragment">
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body id="page-top">
	<div id="wrapper">
		<!--Header 영역을 참조합니다.-->
		<th:block
			th:insert="common/groupAdmin/fragments/Gadmin_menu :: GAdminMenuFragment"></th:block>
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">

				<th:block
					th:insert="common/groupAdmin/fragments/Gadmin_header :: GAdminHeaderFragment"></th:block>

				<div class="container-fluid">
					<!--Content 내용 영역을 참조합니다-->
					<th:block layout:fragment="GContent"></th:block>
				</div>
			</div>
			<!--Footer 영역을 참조합니다.-->
			<!-- <footer
				th:replace="common/groupAdmin/fragments/Gadmin_footer :: GAdminFooterFragment"></footer> -->
		</div>
	</div>




	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</body>
</html>