<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arion.app.admin.mapper.AdminMapper">
	<select id="selectsubList" resultType="AdminVO">
		SELECT t.contract_no
			  ,c.company_code
		      ,c.company_name
		      ,c.ceo_name
		      ,t.start_date
		      ,t.final_date
		      ,t.users_cnt
		FROM company c 
		JOIN contract t
		ON c.company_code = t.company_code
					<![CDATA[
		WHERE final_date < sysdate
							]]>
	</select>
	<select id="selectSubInfo" parameterType="AdminVO">
		SELECT t.contract_no
		      ,t.start_date
		      ,t.final_date
		      ,t.users_cnt
		      ,t.month_pay_price
		      ,t.total_pay_price
		      ,t.contract_state
		      ,c.company_code
		      ,c.company_name
		      ,c.company_tel
		      ,c.company_business_number
		      ,c.company_type
		      ,c.company_address
		      ,c.company_post
		      ,(SELECT LISTAGG(u.module_name, ',') WITHIN GROUP (ORDER BY u.module_name)
		        FROM usemodule u
		        WHERE u.contract_no = t.contract_no) AS module_names
		      ,c.ceo_email
		FROM contract t 
		JOIN company c
		ON t.company_code = c.company_code
		WHERE t.contract_no = #{contractNo}
	</select>
	
	<select id="selectModList" resultType="ModuleVO">
		SELECT module_no
		      ,module_name
		      ,module_price
		      ,module_notice
		      ,module_icon
		FROM module
	</select>
	<select id="selectEndSubList" resultType="AdminVO">
		SELECT t.contract_no
			  ,c.company_code
		      ,c.company_name
		      ,c.ceo_name
		      ,t.start_date
		      ,t.final_date
		      ,t.users_cnt
		FROM company c 
		JOIN contract t
		ON c.company_code = t.company_code
					<![CDATA[
		WHERE final_date > sysdate
							]]>
	</select>
	
	<select id="selectQnAList" resultType="QnAVO">
	SELECT qna_no
	      ,qna_title
	      ,qna_writer
	      ,qna_date
	      ,NVL(qna_company,'없음') as qna_company
	      ,qna_state
	FROM qna
	</select>
	
	<select id="selectQnAInfo" resultType="QnAVO">
		SELECT qna_no
		      ,qna_title
		      ,qna_content
		      ,qna_writer
		      ,qna_date
		      ,NVL(qna_company,'없음') as qna_company
		      ,qna_reply
		      ,qna_state
		FROM qna
		WHERE qna_no = #{qnaNo}
	</select>
	<update id="insertReply" parameterType="QnAVO">
		UPDATE qna
		SET qna_state = '답변',
		    qna_reply = #{qnaReply}
		WHERE qna_no = #{qnaNo}
	</update>
	<insert id="insertModule" parameterType="ModuleVO">
		<selectKey keyProperty="moduleNo"
				   resultType="Integer"
				   order="BEFORE">
			SELECT NVL(MAX(module_no), 0) + 1
			FROM module
		</selectKey>
			INSERT INTO module(
			     module_no
			    ,module_name
			    ,module_price
			    ,module_notice
			    ,module_icon
			    			   )
			VALUES(
					 #{moduleNo}
					,#{moduleName}
					,#{modulePrice}
					,#{moduleNotice}
					,#{moduleIcon}
				   )
	</insert>
	
	<insert id="insertModuleFile" parameterType="ModuleFileVO">
		<selectKey keyProperty="modFileNo"
				   resultType="Integer"
				   order="BEFORE">
			SELECT NVL(MAX(mod_file_no), 0) + 1
			FROM mod_file
		</selectKey>
		INSERT INTO mod_file(
                     mod_file_no
                    ,mod_file_name
                    ,mod_file_content
                    ,mod_file_path
                    ,mod_file_turn
                    ,mod_file_type
                    ,mod_no
                    ,mod_file_originalname
                    )
		VALUES(
				 #{modFileNo}
				,#{modFileName}
				,#{modFileContent}
				,#{modFilePath}
				,#{modFileTurn}
				,#{modFileType}
				,#{modNo}
				,#{modFileOriginalname}
				)
	</insert>
	
	<select id="selectMod" resultType="ModuleVO">
		SELECT module_no
		      ,module_name
		      ,module_price
		      ,module_notice
		      ,module_icon 
		FROM module WHERE module_no = #{moduleNo}
	</select>

	<select id="selectModFile" resultType="ModuleFileVO">
		SELECT mod_file_no
		      ,mod_file_name
		      ,mod_file_content
		      ,mod_file_path
		      ,mod_file_turn
		      ,mod_file_type
		      ,mod_no
		      ,mod_file_originalname
		FROM mod_file WHERE mod_no = #{moduleNo}
	</select>
</mapper>